<link rel="stylesheet" type="text/css" href="css/nav.css">
<nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav">
    <div class="container">
        <a class="navbar-brand scrollD" href="/">
            <img src="images/Logo.png">
        </a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler"></span>
        </button>

        <div class="collapse navbar-collapse" id="navCollapse">
            <% if (user) { %>
                <ul class="navbar-nav mr-auto">
                    <li></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link scrollD" href="/logout">Logout</a></li>
                    <li><a class="nav-link scrollD" href="/profile">Profile</a></li>
                </ul>
           <% } else { %>
                <ul class="navbar-nav mr-auto">
                    <li></li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link scrollD" href="/login">Login</a></li>
                    <li><a class="nav-link scrollD" href="/signup">Register</a></li>
                </ul>
           <% } %>
        </div>
    </div>
</nav>
<script type="text/javascript" src="scripts/nav.js"></script>