body, html {
    height: 100%;
    margin: 0;
    font-family: "Avenir Next" !important;
}

.indexImg {
    background-image: url("../images/homebk.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeContainer {
    font-family: "Avenir Next";
    color: white;
}