<% var rootPath = '../' %>
<!DOCTYPE html>
<html>
    <head>
        <title>MEET</title>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <%- include(rootPath + 'partials/includes') %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav') %>
        <div class="indexImg">
            <div class="homeContainer">
                <h5>Hello</h5>
            </div>
        </div>
        <%- include(rootPath + 'partials/footer') %>
    </body>
</html>