<% var rootPath = '../' %>
<!DOCTYPE html>
<html>
    <head>
        <title>MEET</title>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <%- include(rootPath + 'partials/includes') %>
    </head>
    <body>
        <%- include(rootPath + 'partials/nav') %>
        <header class="bg-primary text-white animated fadeIn delay-2s">
            <div class="container-fluid text-center">
                <h1>Welcome to Meet</h1>
                <p class="lead">Find study groups to pass your next class</p>
            </div>

        </header>
    </body>
</html>